<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDjWT1v5mnVQynmZLaQbT4gyWqdP5KJ_o</string>
	<key>GCM_SENDER_ID</key>
	<string>280283897162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowerDetectionApp</string>
	<key>PROJECT_ID</key>
	<string>flower-detection-app-1b7ed</string>
	<key>STORAGE_BUCKET</key>
	<string>flower-detection-app-1b7ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280283897162:ios:730a78868671eaf495f5b3</string>
</dict>
</plist>